@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/*=======================
    Common Style Here
 ========================*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --primary: #FF900E;
    --black: #131313;
}

body{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color:#727272;
}

.container{
    max-width: 1440px;
    padding: 15px;
    margin: auto;
}
/* primary button */
.primary-btn {
    padding: 20px 24px;
    background: var(--primary);
    display: inline-block;
    margin-top: 32px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

/*=======================
    Header Area Style 
 ========================*/

 #header-area {
    background-color: rgba(255, 143, 14, 0.10) ;
    padding: 45px 0;
 }
 
 /* navbar style */
 .nav-bar {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 
 .logo  a{
     font-size: 45px;
     color: var(--black);
     font-weight: 700;
     line-height: 1em;
     text-decoration: none;
 }
 
 .nav-menu ul {
     display: flex;
     align-items: center;
     gap: 76px;
 }
 
 .nav-menu ul li {
     list-style: none;
 }

 .nav-menu ul li a{
    font-size: 18px;
    font-weight: 500;
    color: #424242;
    text-decoration: none;
    transition: color 0.5s;
 }

 .nav-menu ul li a:hover{
    color: var(--primary)
 }

 /* hero-area style */
 .hero-area{
    padding: 116px 0 0;
 }

 .hero-content {
    max-width: 862px;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}

.hero-content h1 {
    font-weight: 700;
    font-size: 64px;
    color: var(--black);
    padding-bottom: 35px;
}

.hero-banner img{
    width: 100%;
}

/*=======================
    Team Area Style 
 ========================*/ 

#team-area{
    padding: 85px 0 130px;
}

.team-wrapper{
    display: flex;
    align-items: center;
    gap: 76px;
}

.team-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}

.team-content h2{
    font-weight: 500;
    font-size: 45px;
    line-height: 1.3em;
    color:#727272;
}

.team-bold-title{
    color: var(--black);
    font-weight: 700;
}

.team-orange-title{
    color: var(--primary);
    font-weight: 700;
}

.team-content p{
    padding: 24px 0 32px;
}

/*=======================
    Feature Area Style 
 ========================*/ 

.feature-wrapper {
    display: flex;
    gap: 135px;
}

.feature-content{
    width: 44%;
}
.feature-title {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2em;
    color: var(--black);
    border-left: 5px solid var(--primary);
    padding-left: 20px;
    margin-bottom: 24px;
}

.feature-items{
    margin-top: 30px;
}

.feature-single-item{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 30px;
}

.feature-single-item h3{
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;
    color: var(--black);
}

.feature-image{
    position: relative;
}
.feature-image img{
    width: 100%;
    padding-bottom: 77px;
}

.experience-box{
    background-color: var(--primary);
    color: #fff;
    padding: 45px 42px;
}

.experience-box h2{
    font-size: 65px;
    font-weight: 700;
}

.experience-box p{
    font-size: 25px;
    font-weight: 500;
}

.experience-box{
    position: absolute;
    bottom: 0;
    left: -92px;
}

/*=======================
    Facts Area Style 
 ========================*/ 

#facts-area {
    padding: 130px 0 130px;
}

.section-heading {
    max-width: 542px;
    padding-bottom: 100px;
}

.section-heading h3 {
    padding-bottom: 24px;
    font-size: 45px;
    font-weight: 700;
    color: var(--black);
}

.fact-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    gap: 124px;
}

.fact-single-item {
    padding: 45px 30px 60px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 25%;
    text-align: center;
}

.fact-single-item h2 {
    font-size: 45px;
    padding: 10px 0 6px;
    color: #333;
}

.fact-single-item p {
    font-size: 20px;
    font-weight: 600;
}