@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/*=======================
    Common Style Here
 ========================*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --primary: #FF900E;
    --black: #131313;
}

body{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color:#727272;
}

.container{
    max-width: 1440px;
    padding: 15px;
    margin: auto;
}

/* primary button */
.primary-btn {
    padding: 20px 24px;
    background: var(--primary);
    display: inline-block;
    margin-top: 32px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

/*=======================
    Header Area Style 
 ========================*/

 #header-area {
    background-color: rgba(255, 143, 14, 0.10) ;
    padding: 45px 0;
 }
 
 /* navbar style */
 .nav-bar {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 
 .logo  a{
     font-size: 45px;
     color: var(--black);
     font-weight: 700;
     line-height: 1em;
     text-decoration: none;
 }
 
 .menu-wrapper {
     display: flex;
     align-items: center;
     gap: 76px;
 }
 
 .menu-wrapper li {
     list-style: none;
 }

 .menu-wrapper li a{
    font-size: 18px;
    font-weight: 500;
    color: #424242;
    text-decoration: none;
    transition: color 0.5s;
 }

 .menu-wrapper li a:hover{
    color: var(--primary)
 }

 /* hero-area style */
 .hero-area{
    padding: 116px 0 0;
 }

 .hero-content {
    max-width: 862px;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}

.hero-content h1 {
    font-weight: 700;
    font-size: 64px;
    color: var(--black);
    padding-bottom: 35px;
    line-height: 1.1em;
}

.hero-banner img{
    width: 100%;
}

/*=======================
    Team Area Style 
 ========================*/ 

#team-area{
    padding: 85px 0 130px;
}

.team-wrapper {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-column-gap: 76px;
    align-items: center;
}

.team-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}

.team-image img{
    width: 100%;
}

.team-content {
    padding-right: 50px;
}

.team-content h2{
    font-weight: 500;
    font-size: 45px;
    line-height: 1.3em;
    color:#727272;
}

.team-bold-title{
    color: var(--black);
    font-weight: 700;
}

.team-orange-title{
    color: var(--primary);
    font-weight: 700;
}

.team-content p{
    padding: 24px 0 32px;
}

/*=======================
    Feature Area Style 
 ========================*/ 

.feature-wrapper {
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    grid-column-gap: 160px;
}

.feature-title {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2em;
    color: var(--black);
    border-left: 5px solid var(--primary);
    padding: 0 100px 0 20px;
    margin-bottom: 24px;
}

.feature-items{
    margin-top: 30px;
}

.feature-single-item{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 30px;
}

.feature-single-item h3{
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;
    color: var(--black);
}

.feature-image{
    position: relative;
}
.feature-image img{
    width: 100%;
    padding-bottom: 77px;
    height: 100%;
    object-fit: cover;
}

.experience-box{
    background-color: var(--primary);
    color: #fff;
    padding: 45px 42px;
    text-align: center;
    border-radius: 8px;
}

.experience-box h2{
    font-size: 65px;
    font-weight: 700;
    line-height: 1.2;
}

.experience-box p{
    font-size: 25px;
    font-weight: 500;
}

.experience-box{
    position: absolute;
    bottom: 0;
    left: -92px;
}

/*=======================
    Process Area Style 
 ========================*/ 

#process-area {
    background-image: url(../image/process.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    color: #fff;
    padding: 120px 0px;
    margin-top: 100px;
}

#process-area:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #333;
    opacity: 0.85;
    z-index: -1;
}

.process-section-title {
    max-width: 670px;
    margin: 0 auto 70px;
    text-align: center;
}

.process-section-title h3{
    padding-bottom: 24px;
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    line-height: 1.1;
}

.process-single-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
}

.single-process h2 {
    text-transform: capitalize;
    background: #ff7720;
    font-size: 20px;
    padding: 15px 15px;
    position: relative;
    border-radius: 5px;
}

.single-process h2 span {
    background: tomato;
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px 18px;
}

.single-process P {
    text-align: center;
    margin: 15px 0px;
}

/*=======================
    Facts Area Style 
 ========================*/ 

#facts-area {
    padding: 130px 0 130px;
}

.section-heading {
    max-width: 542px;
    padding-bottom: 100px;
}

.section-heading h3 {
    padding-bottom: 24px;
    font-size: 45px;
    font-weight: 700;
    color: var(--black);
}

.fact-items {
    display: flex;
    align-items: stretch;
    justify-content: center;;
    padding: 0px 50px;
    gap: 124px;
}

.fact-single-item {
    padding: 45px 30px 60px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 25%;
    text-align: center;
    transition: transform .5s;
}

.fact-single-item:hover {
    transform: translateY(-20px) scale(1.1);
}

.fact-single-item h2 {
    font-size: 45px;
    padding: 10px 0 6px;
    color: #333;
    line-height: 1.2em;
}

.fact-single-item p {
    font-size: 20px;
    font-weight: 600;
}

/*=======================
    Sponsors Area Style 
 ========================*/ 

#sponsors-area{
    padding-bottom: 130px;
}
 .section-heading.center{
    margin:auto;
    text-align: center;
}

 .sponsors-item-wrapper {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 35px;
}

.sponsors-item-wrapper img{
    width: auto;
    filter: grayscale(1);
}

/*=======================
    Footer Area Style 
 ========================*/ 

.footer-content {
    background: #FFF4E7;
    text-align: center;
    padding: 39px;
    font-size: 20px;
    color: #424242;
}

.footer-content p {
    line-height: 1.4em;
}

/* ===============================================
    Responsive Style Start
   ===============================================*/

   @media only screen and (max-width: 1024px) {
    
    .fact-items {
        padding: 0px;
        gap: 17px;
    }

    .feature-wrapper {
        grid-column-gap: 50px;
    }

    .sponsors-item-wrapper{
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    .experience-box {
        left: 0;
    }

    .feature-image img {
        width: 100%;
        padding-bottom: 77px;
        
    }

  }


  @media only screen and (max-width: 768px) {

    .nav-bar {
        flex-direction: column;
        gap: 30px;
    }

    .menu-wrapper {
        gap: 55px;
    }

    .sponsors-item-wrapper img {
        width: 100px;
    }

    .team-wrapper {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 60px;
    }

    .feature-image img {
        height: 777px;
        object-fit: cover;
    }

    .experience-box {
        left: 50%;
        transform: translateX(-50%);
    }

    .fact-items {
        flex-wrap: wrap;
        gap: 25px;
    }

    .fact-single-item {
        width: 47%;
    }

    .fact-single-item:hover {
        transform:none;
    }

    #sponsors-area {
        padding-bottom: 80px;
    }

    #facts-area, #team-area{
        padding: 80px 0 80px;
    }

    .feature-wrapper {
        grid-template-columns: 1fr;
    }

    .feature-wrapper {
        grid-gap: 50px;
    }

    .process-single-box {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
        grid-row-gap: 30px;
    }

}

@media only screen and (max-width: 576px) {

    #header-area {
        padding: 15px 0;
    }

    .menu-wrapper {
        gap: 35px;
    }

    .hero-content h1 {
        font-size: 55px;
    }

    .hero-area {
        padding: 70px 0 0;
    }

    .hero-content h1,
    .team-content h2,
    .section-heading h3,
    .fact-single-item h2,
    .process-section-title h3{
        font-size: 35px;
    }

    .team-content, .feature-title, .feature-content p {
        text-align: center;
    }

    .team-content {
        padding-right: 0;
    }

    .team-wrapper {
        grid-template-columns: 1fr;
        grid-gap: 76px;
    }


    .feature-title {
        font-size: 35px;
        padding: 0 0px 0 20px;
    }

    .feature-image img {
        height: auto;
        object-fit: cover;
    }

    .experience-box {
        padding: 18px 33px;
    }

    .experience-box h2 {
        font-size: 40px;
    }

    .experience-box p {
        font-size: 20px;
    }

    .process-single-box {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 40px;
        grid-row-gap: 30px;
    }

    #process-area {
        padding: 80px 0px;
    }

    .feature-single-item{
        text-align: center;
    }
    .fact-items {
        flex-wrap: wrap;
    }

    .fact-single-item {
        width: 100%;
    }

    .sponsors-item-wrapper img {
        width: 80px;
    }

    .section-heading, #sponsors-area {
        padding-bottom: 40px;
        text-align: center;
    }
}

@media only screen and (max-width: 375px) {

    #header-area {
        padding: 15px 0;
    }

    .logo  a {
        font-size: 35px;
    }

    .nav-menu ul {
        gap: 25px;
    }

    .hero-content h1, .team-content h2, .feature-title,.experience-box h2, .section-heading h3  {
        font-size: 33px;
    }

    .experience-box h2 {
        font-size: 40px;
    }

    .experience-box {
        padding: 16px 25px;
    }

    .experience-box p {
        font-size: 20px;
    }

    .experience-box {
        bottom: 30px;
    }

    #facts-area, #team-area {
        padding: 40px 0 30px;
    }

    #process-area {
        margin-top: 40px;
    }

    .sponsors-item-wrapper {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .sponsors-item-wrapper img {
        width: 27%;
    }

    .footer-content {
        padding: 15px 10px;
    }
}